:root {

    --curva-borde: 20px;
}

#lista-colecciones li,
.li-coleccion {
    margin: .5vmin;
    padding: .5vmin;

    border-radius: var(--curva-borde);

    border: solid 1.2px;





}

#lista-colecciones label,
.link-coleccion {
    border-radius: var(--curva-borde);

    width: 100%;
    backdrop-filter: brightness(150%);

    padding: 2px;

    cursor: pointer;


}