#lista-colecciones {

    list-style-type: none;

    overflow: auto;
    padding: 3px;
    height: 25vh;

    overflow-x: hidden;
    border-radius: .375rem;

    border: #ced4da 1px solid;
}


#lista-colecciones li {
    margin: .5vmin;
    padding: .5vmin;

    border-radius: .375rem;

    border: solid 1.2px;




}

#lista-colecciones label {

    width: 100%;
    backdrop-filter: brightness(150%);

    padding: 2px;

    cursor: pointer;

}

#lista-colecciones li:hover {
    outline: black solid 2px;

}