main {

  margin: 3vmax !important;

  padding-top: 60px;

}

.puntero {
  cursor: pointer;
}

.link a {

  color: black;
}

.elipse {

  /* Hace que cuando haya un nombre muy largo muestre una ellipsis */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.center {

  text-align: center;
}

.alerta-cerrable {

  margin: 2vmin;
}

/* Centra el contenido con flex */
.flex-center {

  display: flex;

  align-items: center;
}



/* desactiva los inputs de la cabacera*/


header input:disabled,
header button:disabled {

  cursor: not-allowed !important;

}

.fecha {
  margin-bottom: 5vh;

  font-size: 2rem;

  /* Borde doble redondeado */
  border-bottom: black 5px;
  border-bottom-style: double;
  border-radius: 10px;

  padding: 0 1vw;


  display: inline-block;


}

.fecha::first-letter {

  text-transform: uppercase;
}