main {

  margin: 3vmax !important;

  padding-top: 60px;

}

.puntero {
  cursor: pointer;
}

.link a {

  color: black;
}

.elipse {

  /* Hace que cuando haya un nombre muy largo muestre una ellipsis */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.center {

  text-align: center;
}

.alerta-cerrable {

  margin: 2vmin;
}

/* Centra el contenido con flex */
.flex-center {

  display: flex;

  align-items: center;
}