/* #estadisticas {


    /* Grid 

display: grid;

grid-template-areas: "contadores barras barras"
"tarta barras barras"
"tarta barras barras";

width: 100%;
height: 80vh;
}

#tarta-idiomas {


    grid-area: tarta;
}

#contadores {


    grid-area: contadores;
}

#grafico-barras {

    grid-area: barras;

}

@media only screen and (max-width : 320px) {

    #estadisticas {

        background-color: blue;
    }
}

*/