#botones-mostrar {

    display: flex;

    width: 100%;

    justify-content: space-around;

}

.li-coleccion {

    list-style-type: none;

    display: inline-block;
}

.blanquear-fondo {

    text-emphasis: none;
    color: unset;
}

.blanquear-fondo:hover {

    text-emphasis: none;

    color: unset;
}

.li-coleccion span {

    padding: 2vmin;

}